# Parei em - ntegração Python - Automação Web (Web-Scraping com Selenium) - Aula (317) - [Acesso aqui](https://t.me/c/2104024236/320)

# Python e SQL

## Integração Python e SQL
### Objetivo
A integração do Python com o QSL permite que execute comandos SQL diretamente pelo Python no banco de dados. Isso vair permitir pegar consultas e importar elas para dentro de uma análise ou alteração necessária em Python de maneira fácil e automaticamente.

### O que vamos precisar
* Inicialmente vamos usar o SQLite, o objetivo é simplificar a instalação do SQL.
* Para isso, vamos isar apenas um driver SQL. [Este aqui](http://www.ch-werner.de/sqliteodbc/)
* Um banco de dados para testar -> disponível para Download

### No Python, o que vamos usar
* Biblioteca pyodbc -> pode ser usada com a mesma estrutura para diversos bancos de dados, como SQL Server, PostgreSQL, MySQL, Oracle, Access, IBM, etc.


### Quando faz sentido usar Python e SQL? Quando usar só SQL?

- Criação do Banco de Dados
- Interagir com um sistema

## Biblioteca `pyodbc`:

### Precisamos criar uma conexão com o banco de dados inicialmente. Para isso precisamos:
1. Instalar o Driver: [Este aqui](http://www.ch-werner.de/sqliteodbc/)
2. Importar a biblioteca `pyodbc`

        import pyodbc
        print(pyodbc.drivers()) # Aqui estou verificando os drivers disponíveis

3. Realizar a conexão com o banco de dados:

        dados_conexao = ("Driver={Seu_Driver};"
                        "Server=SeuServidor;"
                        Database=NomeBaseDeDados;")

        # Se estivéssemos usando outro sistema de banco de dados, nosso driver mudaria. Para saber em outros casos, execute:
        pyodbc.drivers() -> # caso não encontre seu driver ali, basta buscar no google por "driver MeuBancoDeDados for pyodbc" e baixar

4. Realizar as operações no banco de dados.

        import pyodbc

        dados_conexao = ("Driver={SQLite3 ODBC Drivers};Server=localhost;Database=chinook.db;")

        conexao = pyodbc.connect(dados_conexao)

        cursor = conexa.cursor()

        ### Operações 

5. Fechar a conexão com o banco de dados sempre após concluir as interações. (Pode dar muito ruim se não o fizer.)
        
        cursor.close()
        conexão.close()

---

1. Criar a conexão com o banco de dados:

In [2]:
import pyodbc

# print(pyodbc.drivers()) # Aqui estou verificando os drivers disponíveis

dados_conexao = ("Driver={SQLite3 ODBC Driver};"
           "Server=localhost;"
           "Database=salarios.sqlite;")

conexao = pyodbc.connect(dados_conexao)
print("Conexão realizada com sucesso!")

#Caso precise de senha, será necessário passar para a variável 'dados_conexao' mais dois valores, seriam eles:
# "UID=Login_do_DB;"
# "PWD=Senha_do_DB;"
#ficaria :
# dados_conexao = ("Driver={SQLite3 ODBC Driver};"
#            "Server=localhost;"
#            "Database=salarios.sqlite;"
#            "UID=Login_do_DB;"
#            "PWD=Senha_do_DB;")

Conexão realizada com sucesso!

2. Agora, precisamos criar o que o pyodbc chama de cursor, que é basicamente quem vai executar os nossos códigos SQL.

In [3]:
cursor = conexao.cursor()
print("Cursor criado com sucesso!")

Cursor criado com sucesso!

3. Agora já podemos executar nossos comandos SQL.
   Temos 2 opções aqui:
   1. Apenas executar comandos SQL que vão acontecer no banco
   2. Executar o comando SQL e armazenar a consulta em uma variável no Python, como um dataframe do pandas
   
   
             dataframe = pd.read_sql('COMANDO_SQL', conexao) # -> vai executar o comando SQL, gerando uma consulta e retornando a resposta dessa consulta para o dataframe


Para pegar uma tabela inteira do nosso banco de dados, usaremos o comando SQL Select *:
         "SELECT * FROM BaseDeDados.Tabela"

In [4]:
cursor.execute("SELECT * FROM Salarios")

salarios = cursor.fetchall()
print( salarios[:10])

cursor.close()
conexao.close()

[(1, 'NATHANIEL FORD', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 167411.18, 0.0, 400184.25, None, 567595.43, 567595.43, 2011, '', 'San Francisco', ''), (2, 'GARY JIMENEZ', 'CAPTAIN III (POLICE DEPARTMENT)', 155966.02, 245131.88, 137811.38, None, 538909.28, 538909.28, 2011, '', 'San Francisco', ''), (3, 'ALBERT PARDINI', 'CAPTAIN III (POLICE DEPARTMENT)', 212739.13, 106088.18, 16452.6, None, 335279.91, 335279.91, 2011, '', 'San Francisco', ''), (4, 'CHRISTOPHER CHONG', 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 77916.0, 56120.71, 198306.9, None, 332343.61, 332343.61, 2011, '', 'San Francisco', ''), (5, 'PATRICK GARDNER', 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 134401.6, 9737.0, 182234.59, None, 326373.19, 326373.19, 2011, '', 'San Francisco', ''), (6, 'DAVID SULLIVAN', 'ASSISTANT DEPUTY CHIEF II', 118602.0, 8601.0, 189082.74, None, 316285.74, 316285.74, 2011, '', 'San Francisco', ''), (7, 'ALSON LEE', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 92492.01, 89062.9, 134426.14, None, 315981.05, 315981.05, 2011, '', 'San Francisco', ''), (8, 'DAVID KUSHNER', 'DEPUTY DIRECTOR OF INVESTMENTS', 256576.96, 0.0, 51322.5, None, 307899.46, 307899.46, 2011, '', 'San Francisco', ''), (9, 'MICHAEL MORRIS', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 176932.64, 86362.68, 40132.23, None, 303427.55, 303427.55, 2011, '', 'San Francisco', ''), (10, 'JOANNE HAYES-WHITE', 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)', 285262.0, 0.0, 17115.73, None, 302377.73, 302377.73, 2011, '', 'San Francisco', '')]

## Desafio Python e SQL - CRUD

### Create (C):

In [5]:
import pyodbc

#Autenticação banco de dados
dados_conexao = ("Driver={SQLite3 ODBC Driver};"
                "Server=localhost;"
                "Database=chinook.db;")

conexao = pyodbc.connect(dados_conexao)
print("Conexão realizada com sucesso!")

cursor = conexao.cursor()
cursor.execute("""
INSERT INTO albums (Title, ArtistId) VALUES ('Albus Rock', 4)
               """)
cursor.commit() ## Para a alteração de dados realmente deve ser feita, tem que usar sempre o commit()
# Sempre colocar o `cursor.close()` para fechar o cursor e `conexao.close()` para fechar a conexão,
# caso contrário o banco fica trancado.
cursor.close()
conexao.close()

# Inserir um novo registro

Conexão realizada com sucesso!

### Read (R):

In [ ]:
from pydoc import describe
import pyodbc
import pandas as pd

# Autenticação banco de dados
dados_conexao = (
    "Driver={SQLite3 ODBC Driver};" "Server=localhost;" "Database=chinook.db;"
)

conexao = pyodbc.connect(dados_conexao)
print("Conexão realizada com sucesso!")

cursor = conexao.cursor()
cursor.execute("SELECT * FROM customers")
valores = cursor.fetchall()
describe = cursor.description

colunas = [tupla[0] for tupla in describe]

tabela_clientes = pd.DataFrame.from_records(valores, columns=colunas)
display(tabela_clientes)


cursor.close()
conexao.close()

### Read (R) com pd.read_sql:

In [ ]:
import pandas as pd
import sqlite3

conexao = sqlite3.connect('chinook.db')

tabela_clientes = pd.read_sql('SELECT * FROM customers', conexao)

print(display(tabela_clientes))

conexao.close()

### Update (U):

In [2]:
import pyodbc

# Autenticação banco de dados
dados_conexao = (
    "Driver={SQLite3 ODBC Driver};" "Server=localhost;" "Database=chinook.db;"
)

conexao = pyodbc.connect(dados_conexao)
print("Conexão realizada com sucesso!")

cursor = conexao.cursor()

# Operação com banco

try:
    cursor.execute(
    """
    UPDATE customers
    SET Email = 'nova@email.com'
    WHERE Email = 'luisg@embraer.com.br'
"""
)
except Exception as e:
    print(f"Erro ao atualizar: {e}")

cursor.commit()

cursor.close()
conexao.close()

Conexão realizada com sucesso!

### Delete (D):

In [3]:
import pyodbc

# Autenticação banco de dados
dados_conexao = (
    "Driver={SQLite3 ODBC Driver};" "Server=localhost;" "Database=chinook.db;"
)

conexao = pyodbc.connect(dados_conexao)
print("Conexão realizada com sucesso!")

cursor = conexao.cursor()

cursor.execute("DELETE FROM albums WHERE AlbumID = 4")

cursor.commit()

cursor.close()
conexao.close()

Conexão realizada com sucesso!

## Integração do Python com MySQL

In [ ]:
import mysql.connector

conexao = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="teste",
)
cursor = conexao.cursor()


cursor.close()
conexao.close()

### Create (C):

In [ ]:
# CREATE
nome_produto = "chocolate"
valor = 15
comando = f'INSERT INTO vendas (nome_produto, valor) VALUES ("{nome_produto}", {valor})'
cursor.execute(comando)
conexao.commit()  # edita o banco de dados

cursor.close()
conexao.close()

### Read (R):

In [ ]:

# READ
comando = "SELECT * FROM vendas"
cursor.execute(comando)
resultado = cursor.fetchall()  # ler o banco de dados
print(resultado)

cursor.close()
conexao.close()

### Update (U):

In [ ]:
# UPDATE
nome_produto = "todynho"
valor = 6
comando = f'UPDATE vendas SET valor = {valor} WHERE nome_produto = "{nome_produto}"'
cursor.execute(comando)
conexao.commit()  # edita o banco de dados

cursor.close()
conexao.close()

### Delete (D):

In [ ]:

# DELETE
nome_produto = "todynho"
comando = f'DELETE FROM vendas WHERE nome_produto = "{nome_produto}"'
cursor.execute(comando)
conexao.commit()  # edita o banco de dados

cursor.close()
conexao.close()